<div class="schema-element-container">
    <mat-form-field appearance="outline">
        <mat-label>Field Name</mat-label>
        <input matInput [(ngModel)]="element.fieldName">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="element.type" name="food">
            <mat-option *ngFor="let type of schemaElementTypes" [value]="type">
                {{type}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-icon-button (click)="onDeleteElement()">
        <mat-icon>delete_outline</mat-icon>
    </button>
</div>