@import "../../../assets/scss/constants.scss";
.schema {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .details {
    .title {
      font-size: 18px;
      margin-bottom: 2px;
    }
    .elements {
      font-size: 14px;
    }
  }
  .goto {
    a:hover {
      color: $green;
    }
  }
}
