/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/constants.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $black;
  color: $white;
}
.app-container {
  padding: 50px 250px;
}
.pointer {
  cursor: pointer;
}
h1 {
  color: $green;
}

// BUTTONS
button.primary,
a.primary {
  background-color: $green;
}
button.primary-outline {
  color: $green;
}
